*{
  margin: 0;
  padding: 0;
  
}
p{
  font-size:.75em;;
}
.window{
  background-image: linear-gradient(to top, #b3ffab 0%, #12fff7 100%);  min-height: 100vh;
  color: #111110;
  font-family:'Courier New', Courier, monospace;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.gameBoard{
  margin-top: 2vh;
  height: 45vh;
  width: 45vh;
  border-radius: 5px;
  display: grid;
grid-template-columns: repeat(8,1fr);
box-shadow: 0 20px 50px rgba(249, 2, 203, 0.7);
}
.square{
  background-color: grey;
  box-shadow: 0 0 50px 15px #48abe0;
  margin: 1px;
    border-radius: 0.7vh;
border: 1px solid rgb(101, 97, 97);
box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;

display: flex;
align-items: center;
justify-content: center;
position: relative;
}
.square .piece{
/* position: relative; */
z-index: 9;
}

.heading{
  color:rgb(119, 92, 57);
  font-family: cursive;
}

.disabled {
pointer-events: none;
opacity: 0.8;
}

.bullet{
width: 10px;
height: 10px;
border-radius: 50%;
background-color:black;
position: absolute;
z-index: 15;

transition: top 0.3s liner;
}
.flipped {
transform: rotateY(180deg);
height: 100%;
width: 100%;
}
.heading{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}

.turnHeading{
  font-size: 3vh;
  font-weight: 700;
}
button{
  border: 1px solid black;
  color: rgb(22, 5, 38);
  background-image: linear-gradient(to top, #00c6fb 0%, #005bea 100%);  border-radius: 5px;
  padding: 5px;
}
button:hover{
  border: none;
  background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
    cursor: pointer;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;}
.historyContainer{
  margin-top: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
a{
  color: black;
  text-decoration: none;
  cursor: pointer;
  
}

.highlight{
  background: greenyellow;
}